
div{
  overflow:hidden;
  position:relative;
}

.card {
	width: 388px;
	height: 218px;
}


#c1{
	
	background-image: url(img/shock0.jpg); 
}

#c2{
	
	background-image: url(img/shock0.jpg);
}

#c3{
	
	background-image: url(img/shock0.jpg); 
}

#c4{
	
	background-image: url(img/shock0.jpg); 
}

#c5{
	
	background-image: url(img/shock0.jpg); 
}
 
#c6{
	
	background-image: url(img/shock0.jpg); 
}

#c7{
	
	background-image: url(img/shock0.jpg); 
}

#c8{
	
	background-image: url(img/shock0.jpg);
}

#c9{

	background-image: url(img/shock0.jpg); 
}

#c10{

	background-image: url(img/shock0.jpg);
}

#c11{

	background-image: url(img/shock0.jpg); 
}

#c12{
	
	background-image: url(img/shock0.jpg); 
}

.backA{
  background-image: url('img/shock1.jpg');
}
.backB{
  background-image: url('img/shock2.jpg');
}
.backC{
  background-image: url('img/shock3.jpg');
}
.backD{
  background-image: url('img/shock4.jpg');
}
.backE{
  background-image: url('img/shock5.jpg');
}
.backF{
  background-image: url('img/shock6.jpg');
}





